<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rain.networkproxy">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:label="@string/network_proxy"
            android:launchMode="singleTop" />

        <service android:name=".ui.dashboard.Dashboard" />

        <receiver
            android:name=".NPReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.rain.networkproxy.INSTRUCTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
